# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123456
DB_NAME=myapp

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_PASSWORD=secret

# MQTT
MQTT_HOST=localhost
MQTT_PORT=1883

# COOKIES
AUTH_COOKIE=access_token
REFRESH_COOKIE=refresh_token
JWT_SECRET=your_jwt_secret_key
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
